body {
  font-family: 'Open Sans', sans-serif;
  background-color: #2F2E41;
}

.page {
  margin: auto;
  width: 1280px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 71px 100px 100px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: flex-start;
  gap: 64px;
}

ul li {
  font-size: 14px;
  line-height: 28px;
}

ul li a:hover {
  font-weight: bold;
}

a {
  color: #ffffff;
  text-decoration: none;
  font-family: 'JetBrains Mono', monospace;
}

h1 {
  font-family: 'JetBrains Mono', monospace;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 60px;
  
}

span {
  color: #00BFA6;
}
section p {
  color: #C2C2C2;
  width: 600px;
 
  font-size: 16px;
  line-height: 28px;
  text-align: center;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 95px 235px;
  gap: 80px;
}

.line {
  border: 1px solid #00BFA6;
  width: 568px;
  margin: 0 auto 27px;
}

footer {
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  line-height: 28px;
}

#pad {
  position: absolute;
  bottom: 20px;
  left: 20px;
}